
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--include the above in your head tag-->
    <style>
        .login-block {
            float: left;
            width: 100%;
            padding: 50px 0;
        }

        .container {
            background: #D3D3D3;
            border-radius: 10px;
            width: 40%;
            height: 40%;
        }

        .login-sec {
            padding: 50px 30px;
            position: relative;
        }

            .login-sec h2 {
                margin-bottom: 30px;
                font-weight: 800;
                font-size: 30px;
                color: #0069c0;
            }

                .login-sec h2:after {
                    content: " ";
                    width: 100px;
                    height: 5px;
                    background: #6ec6ff;
                    display: block;
                    margin-top: 20px;
                    border-radius: 3px;
                    margin-left: auto;
                    margin-right: auto
                }

        .btn-login {
            background: #0069c0;
            color: #fff;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <!--Login template link
    https://bootsnipp.com/snippets/0eDyK
        -->
    <div>
        <section class="login-block">
            <div class="container">
                <div class="row ">
                    <div class="col login-sec">
                        <h2 class="text-center">Giriş Yapın</h2>
                        <form class="login-form" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="text-uppercase">Kullanıcı Adı</label>
                                <input type="text" class="form-control" name="kullaniciAdi" placeholder="Kullanıcı Adı veya Email Giriniz">

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="text-uppercase">Şifre</label>
                                <input type="password" class="form-control" name="sifre" placeholder="Şifre">
                            </div>


                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    <small>Beni Hatırla</small>
                                </label>
                                <button type="submit" class="btn btn-login float-right">GİRİŞ</button>
                            </div>
                        </form>@Html.Raw(ViewBag.mesaj)
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
