
@{
    ViewBag.Title = "UyelerIndex";
    Layout = "~/Views/Shared/AnasayfaLayout.cshtml";
}

<div class="col-md-6 col-md-offset-3">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body modal-body-sub_agile">
            <div class="col-md-8 modal_body_left modal_body_left1">
                <h3 class="agileinfo_sign">ÜYELİK BİLGİLERİ</h3>
                <form action="/Uyeler/UyelerIndex" method="post">
                    <div class="styled-input agile-styled-input-top">
                        Adı
                        <input type="text" name="UyeAdi" required="">
                        @*<label>Adı</label>*@
                        <span></span>
                    </div>
                    <div class="styled-input" agile-styled-input-top>
                        Email
                        <input type="email" name="Email" required="" autocomplete="off">
                        @*<label>Email</label>*@
                        <span></span>
                    </div>
                    <div class="styled-input">
                        Şifre
                        <input type="password" name="Sifre" required="">
                        @*<label>Şifre</label>*@
                        <span></span>
                    </div>
                    <div class="styled-input">
                        Şifre Tekrar
                        <input type="password" name="Sifre_Tekrar" required="">
                        <h6 style="color:red">
                            @ViewBag.SifreAynimi
                        </h6>
                        @*<label>Şifre Tekrar</label>*@
                        <span></span>
                    </div>
                    <input type="submit" value="ÜYE OL">
                </form>
                <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                    <li>
                        <a href="#" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <p><a href="#">By clicking register, I agree to your terms</a></p>

            </div>
            <div class="col-md-4 modal_body_right modal_body_right1">
                <img src="~/Template/images/log_pic.jpg" alt=" " />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //Modal content-->
</div>