
@{
    ViewBag.Title = "DefaultIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

</div>
<!-- /.content-wrapper -->

